.page {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--color_background);
  color: var(--color_text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
